*{
    margin: 0px;
    padding: 0px;
}
.group{
    width:600px;
    height: auto;
    box-shadow: 0px 0px 10px 1px rgba(180, 177, 177, 0.6);
    margin: auto;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#title{
    margin-top:10px;
}
.group-control{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    margin: 5px 0px;
}
.group-control label{
    font-size: 20px;
    padding: 10px 0px;
}
.group-control input[type=text],input[type=password]{
    border: none;
    outline: none;
    transition: border-bottom 0.5s;
    border-bottom: 2px white solid;
    font-size: 15px;
    
}
.group-control input[type=text]:focus,input[type=password]:focus{
    border-bottom: 2px salmon solid;
}
.btn{
    width: 80px;
    height: 40px;
   margin-bottom: 20px;
    background:rgb(90, 88, 175);
    border-radius: 5px;
    border: none;
    outline: none;
    color:white;
    font-size: 20px;
}
.btn:hover{
    border: 2px solid rgb(90, 88, 175);
    background: white;
    color: rgb(90, 88, 175);
}
#err>li{
    list-style-type: none;
    background: rgb(240, 130, 130);
    padding: 10px 100px;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
}
